body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;

}
strong { 
	font-weight: 500; 
}
a, a:hover, a:focus {
	text-decoration: none;
}
h1, h2 {
	margin-top: 10px;
    font-weight: 300;
}
h3 {
	font-size: 20px;
    font-weight: 300;
}

.row{
    margin-top: 120px;
}

/* Contenidos y Formulario*/

/*Contenedor total*/


.my-content .mydescription {
    margin: 20px 0 10px 0;
}
.my-content .mydescription p { 
    opacity: 0.8; 
}

/*Cambios personales*/
.my-sesion{
    padding-top: 25px;
    font-weight: 300;
}

.myform-cont {
    margin-top: -200px;
    margin-left: -80px;
    width:700px;
}

.myform-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(17, 18, 38, 0.45);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
    width: 550px;
}
.myform-top-left { 
    float: left;
    width: 75%;
    text-align: left;
}
.myform-top-left p { 
    opacity: 0.8; 
}
.myform-top-right {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.5;
}
.myform-bottom {
    padding-bottom: 25px;
    background: rgba(17, 18, 38, 0.45);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
    width: 550px;
}
.myform-bottom .mybtn {
    width: 100%;
}

.my-registro{
    color: white;
}

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
    height: 40px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    line-height: 50px;
    
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #0eae98;
}

button.mybtn {
    background: #17263b;
    border: 0;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    
}
button.mybtn:hover, button.mybtn:active { 
    opacity: 0.6; 
    color: #fff; 
}
button.mybtn:focus { 
    opacity: 0.6;  
    color: #fff; 
    background: #5c82d5;
}

/* Media queries */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    
    .mytop-content { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
    
    h1, h2 { font-size: 32px; }

}